<script>
    var app = angular.module("courseReserves", []);

    app.controller("test", function($scope) {
        $scope.items = []

            var items = []

        {{#each items}}
            var txt = document.createElement("textarea");

            txt.innerHTML = '{{this.item_record_id}}';
            var record_num = txt.value;

            txt.innerHTML = '{{this.record_num}}';
            var course_num = txt.value;

            txt.innerHTML = '{{this.content}}';
            var instructor = txt.value;

            txt.innerHTML = '{{this.field_content}}';
            var course = txt.value;

            txt.innerHTML = '{{this.title}}';
            var title = txt.value;

            items.push({
                id: {{@index}},
                record_num: record_num,
                course_num: course_num,
                instructor: instructor,
                course: course,
                title: title
            });

        {{/each}}

        $scope.items = {}

        items.forEach((item) => {
            if (! $scope.items[item.course_num]) {
                $scope.items[item.course_num] = {instructor: item.instructor, record_nums: [{record_num: item.record_num, title: item.title}], course: [item.course]}
            } else {
                let itemRecord = {record_num: item.record_num, title: item.title}
                if (!$scope.items[item.course_num].course.includes(item.course)) $scope.items[item.course_num].course.push(item.course);
                $scope.items[item.course_num].record_nums.push(itemRecord)
            }
        })

        console.log($scope.items)

        $scope.searchTerm = '';
    });

    //Switch angular to use {[{}]} to not conflict with hbs
    app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{');
        $interpolateProvider.endSymbol('}]}');
    });
</script>

<div id="courseReserves" ng-app="courseReserves" ng-controller="test">
    <div class="ui centered grid">
        <div class="row">
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="column">
                    <div class="ui raised segment">
                        <h1 class="ui dividing header">{{title}}</h1>
                        <form class="ui form">
                            <div class="field">
                                <label>Search by course number or instructor name </label>
                                <div class="field">
                                    <input type="text" ng-model='searchTerm' name="course-reserves[search-term]" placeholder="Search term">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet ten wide computer column">
                <div class="column">
                    <div class="ui raised segment">
                        <table class="ui celled table">
                        <thead>
                            <tr><th>Instructor</th>
                            <th>Course Name(s)</th>
                            <th>Items</th>
                        </tr></thead>
                        <tbody>
                            <tr ng-repeat="item in items" ng-if="searchTerm && (item.instructor.toLowerCase().includes(searchTerm.toLowerCase()) || item.course.toString().toLowerCase().includes(searchTerm.toLowerCase()))">
                                <td>{[{item.instructor}]}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="course in item.course">{[{course}]}</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul style="list-style-type:none">
                                        <li ng-repeat="record_num in item.record_nums"><a target='_blank' href="http://libcat.uncw.edu/record=i{[{record_num.record_num}]}">{[{record_num.title}]}</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


