<h1 class="ui header">{{title}}</h1>
<div id="courseReserves" ng-app="courseReserves" ng-controller="test">
  <div class="ui grid">
          <div class="row">
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="column">
                    <div class="ui raised segment">
                        <form action="/" method="POST" class="ui form">
                            <div class="field">
                                <label for="page-search">Search by course number or instructor name </label>
                                <div class="field">
                                    <input type="search" id="page-search" name="searchTerm" placeholder="{{searchString}}">
                                    <button type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
      <div class="sixteen wide column">
        <div class="column">
          <div class="ui raised segment">
            <table class="ui celled table">
              <thead>
                <tr>
                  <th>Instructor</th>
                  <th>Course Name(s)</th>
                  <th>Items</th>
                </tr>
              </thead>
              <tbody>
                {{#each items as |bundle recordNum|}}
                  <tr>
                    <td>{{bundle.fac}}</td>
                    <td>
                      <ul>
                        {{#each bundle.courseName as |record|}}
                          <li>{{record}}</li>
                        {{/each}}
                      </ul>
                    </td>
                    <td>
                      <ul style="list-style-type:none">
                        {{#each bundle.fullItems as |item|}}
                          <li style="margin-bottom:5px;">
                            <a target='_blank' href="http://libcat.uncw.edu/record=i{{item.itemRecordId}}">
                              {{item.title}} -- {{item.location}} -- {{item.courseCode}} -- {{item.status}}
                            </a>
                          </li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


